services:
  localstack:
    image: localstack/localstack:latest
    container_name: localstack-s3
    environment:
      - SERVICES=s3
      - DEBUG=1
      - AWS_REGION=eu-west-1
      - DOCKER_HOST=unix:///var/run/docker.sock
    ports:
      - "4566:4566"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4566/_localstack/health"]
      interval: 5s
      timeout: 3s
      retries: 20
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "localstack_data:/var/lib/localstack"
volumes:
  localstack_data:
