services:
  jenkins:
    build: .
    container_name: jenkins
    ports:
      - "8090:8080"
      - "50000:50000"
    restart: unless-stopped
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock

volumes:
  jenkins_home:
    external: true
    name: jenkins_home

